.tarjeta1 {
    background-image: $img1;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta1:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.tarjeta2 {
    background-image: $img2;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta2:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.tarjeta3 {
    background-image: $img3;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta3:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.tarjeta4 {
    background-image: $img4;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta4:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.tarjeta5 {
    background-image: $img5;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta5:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.tarjeta6 {
    background-image: $img6;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.tarjeta6:hover {
    opacity: 0.8;
    transform: scale(1.3);
}